body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
}

.gray-text {
    color: #888;
}

.small-input {
    width: 50px;
}