body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}

.shopping-cart {
  width: 75%;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ddd; /* Added border for separation */
}

.order-summary {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 20px; /* Center the container horizontally */
}

/* Add margin to certain elements for spacing */
.order-summary h2,
.order-summary p,
.order-summary select,
.order-summary input,
.order-summary button {
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: none; /* Removed borders */
  padding: 10px;
  text-align: left;
}

.product-details {
  width: 40%;
}

.product-info {
text-align: left; /* Set text alignment to left */
}

.product-info img {
max-width: 100px;
max-height: 100px;
display: block;
}

.product-info p {
display: block;
margin-bottom: 8px;
}

.quantity, .price, .subtotal {
  width: 20%;
}

.continue-shopping {
  box-sizing: border-box;
  margin-left: 90px;
}

@media (max-width: 768px) {
  .shopping-cart, .order-summary {
    width: 100%;
    border-right: none; /* Remove border on smaller screens */
  }
}